<div class="container">

	<div class="row">

		<div class="col-md-12">

			<h1 class="center"><br />Edit - <span style="font-style: italic;">'<%= @story.title %></span>'</h1><br />

			<%= render('form') %><br /><br /><br />

			<%= link_to('View All Stories', stories_path, class: 'btn btn-sm btn-success') %>

		</div>

	</div>

</div>
